.gradient-background {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(33, 205, 250, 0.65), #1B1D23), url('.././../../assets/fundorazzoo.jpg') no-repeat center center / cover;
    padding: 20px;
    box-shadow: 0 20px 40px #1B1D23;
    height: 100vh;
}

.logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
}

.apresentacao_section {
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
}


.titulo-lorem {
    font-weight: 400;
    font-size: 46px;
}

.apresentacao_section img {
    width: 100%;
    height: auto;
}

.text {
    position: absolute;
    width: 80%;
    padding: 1% 5%;
    word-spacing: 5px;
    line-height: 1.5;
    font-weight: 200;
    background-color: #1b1d23a7;
    border-radius: 100px 200px;
    box-shadow: 5px 5px 10px var(--cor-de-fundo);
    color: rgb(222, 222, 222);
    font-size: small;
}
@media (max-width: 48em) {
    
.apresentacao_section {
    padding:0px;}
    .text {
        width: 80vw;
        margin: auto;

    }
}